/* MOBILE */
body {margin:0; background-color:#000;}
* {font-family:Arial, sans-serif;}
.box {margin:0 auto; padding:50px; width:80%;}

.lang {background-color:#FFF;}
.lang ul {padding:25px 0 20px 0; text-align:center;}
.lang ul li {margin:0 20px; padding:0; display:inline-block; font-size:4em;}
.lang ul li a {text-decoration:none; color:#000;}
.lang ul li a:hover {text-decoration:underline;}
.active {text-decoration:underline;}

.top {/*padding-top:50px;*/ background-color:#FFF;}
#top {border:10px solid #000; border-bottom:none;}
#top h1 {margin:0; padding:0; text-align:center; font-size:3em;}
#top h2 {margin:50px 0 10px 0; padding:0;}
#top p {margin-top:50px;}
#top p a {text-decoration:none; color:#000; font-weight:bold;}
#top p a:hover {text-decoration:underline;}

.socialList {margin:120px 0 100px; padding:0; text-align:center;}
.socialList li {margin:0 2px; display:inline-block;}
.socialList li a img {width:140px;}

.bottom {padding-bottom:60px;}
#bottom {background-color:#000; border:10px solid #FFF; border-top:none;}
#bottom p {margin-top:20px; color:#FFF; text-align:center; font-size:.7em;}
#bottom p a {text-decoration:none; color:#FFF; font-size:2em; font-weight:bold;}
#bottom p a:hover {text-decoration:underline;}

/* DESKTOP */
@media screen and (min-width: 992px) {
    .box {width:50%;}
    .lang ul {text-align:right;}
    .lang ul li {margin:0 3px; font-size:1em;}
    .socialList {margin:60px 0 0 0;}
    .socialList li a img {width:35px;}
    #bottom p {font-size:.8em;}
}